.admin_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(49, 51, 58);
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  border-radius: 0 0 30px 30px;
}
.admin_nav_list {
  cursor: pointer;
  position: relative;
}

.admin_nav_list::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.5s ease;
}

.admin_nav_list:hover::after {
  width: 100%;
}
.admin_nav_list_mobile {
  display: none;
}
