@media screen and (max-width: 480px) {
  .admin_nav_list {
    display: none;
  }
  .admin_nav_list_mobile {
    display: block;
    cursor: pointer;
    position: relative;
  }
  .admin_nav_list::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.5s ease;
  }

  .admin_nav_list:hover::after {
    width: 100%;
  }
}
