.admin_registartion_form {
  display: flex;
  flex-direction: column;
}
.admin_reg_input {
  width: 65%;
  height: 40px;
  border: none;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 10px;
  margin-left: 50px;
  margin-top: 10px;
}
.admin_reg_input:focus {
  outline: none;
}
.admin_reg_label {
  margin-left: 20px;
  margin-top: 10px;
  color: white;
}
.admin_reg_button {
  width: 40%;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: rgb(99, 98, 98);
  color: white;
  margin: 20px 0 0 91px;
  cursor: pointer;
}
.admin_to_login {
  color: white;
  margin-top: 12px;
  margin-left: 50px;
}
.admin_first_half {
  width: 65%;
}
.admin_logo {
  width: 34.8%;
  display: flex;
  align-items: center;
}
.admin_logo img {
  width: 100%;
  border-radius: 12px;
  border: none;
}

.admin_container_two {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  background-color: rgb(49, 51, 58);
  width: 60%;
  height: 550px;
  border-radius: 8px;
  display: flex;
}

.admin_container_two h2 {
  text-align: center;
  color: white;
}

.admin_to_update {
  margin-top: 100px;
}
