@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
body {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
}
