.sidebar {
  width: 60px;
  height: 100vh;
  background-color: rgb(49, 51, 58);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position: fixed;
  transition: width 0.3s ease;
}

.sidebar:hover {
  width: 250px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 75%;
  padding: 15px;
  margin-left: 12px;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.sidebar-item:hover {
  background-color: rgb(52, 73, 94);
  border-radius: 12px;
}

.icon {
  font-size: 24px;
  margin-right: 15px;
}

.text {
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar:hover .text {
  opacity: 1;
  visibility: visible;
}

.logout_button {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 90%;
  padding: 15px;
  margin-bottom: 12px;
  margin-left: 0;
  color: white;
  background-color: rgb(31, 32, 37);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  transition: background-color 0.2s ease;
}

.logout_button:hover {
  background-color: rgb(39, 59, 80);
  border-radius: 12px;
}

.logout_button .icon {
  font-size: 24px;
}

.logout_button span {
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar:hover .logout_button span {
  opacity: 1;
  visibility: visible;
}
